<!DOCTYPE html>
<html>
    <title>Chat Alchemy</title>
    <head>
        <meta charset = "UTF-8"
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <link rel = "stylesheet" id = "style_sheet" href="css/chat_alchemy.css">

    <body>
        <nav class = "nav-container">
            <h1 id = "title_mobile">Chat Alchemy</h1>

            <div id = "hamburger" class = "hamburger">
                <span class = "lines"></span>
                <span class = "lines"></span>
                <span class = "lines"></span>
            </div>

            <ul id = "nav-links">
                <li><a id = "select_mode_mobile" class = "links">Home</a></li>
                <li><a id = "debug_btn_mobile" class = "links">Debug Code</a></li>
                <li><a id = "email_generator_btn_mobile" class = "links">Email Genrator</a></li>
                <li><a id = "translate_btn_mobile" class = "links">Translate</a></li>
                <li><a id = "settings_btn_mobile" class = "links">Settings</a></li>
                <li><a id = "sign_out_btn_mobile" class = "links">SignOut</a></li>
            </ul>
        </nav>

        <!-- <video id = "bg" src = "resources/computer_-_56888 (1080p).mp4" autoplay loop muted ></video> -->
        <!-- <img src = "resources/bb.png"> -->

        <div class="grid-container">
            <div class = "chat_box" id = "chat_box">
                <div class = "text_image">
                    <div class = "text_area" id = "text_area"></div>
                </div>
                

                <div class = "user_input">
                    <input type = "text" id = "user_input_message" placeholder = "Enter Message">
                    <input type = "button" class = "send_message" id = "send_message" value = "Send">
                </div>
            </div>

            <div class = "debug_box" id = "debug_box">
                <div class = "debug_code">
                    <textarea class = "debug_code_text" id = "debug_code_text" placeholder = "Enter Code Here: "></textarea>
                </div>
                <div class = "debug_solution">
                    <textarea class = "debug_solution_text" id = "debug_solution_text" placeholder = "Result Will Appear Here" readonly></textarea>
                </div>
                <input type = "button" class = "submit_btn" id = "submit_btn" value = "Submit">
                <input type = "button" class = "clear_btn" id = "clear_btn" value = "Clear">
                <input type = "button" class = "copy_btn" id = "copy_btn" value = "Copy">
            </div>

            <div class = "email_box" id = "email_box">
                <div class = "email_prompt_box">
                    <input type = "text" class = "email_prompt" id = "email_prompt" placeholder = "Enter Email Prompt And Press Enter To Submit" autocomplete = "off">
                </div>
                <div class = "email_submit">
                    <input type = "button" class = "email_submit_btn" id = "email_submit_btn" value = "Submit">
                </div>
                <div class = "email_style">
                    <label class = "email_label">Email Style</label>
                    <input type = "button" class = "email_options_btn" id = "style_professional" value = "Professional">
                    <input type = "button" class = "email_options_btn" id = "style_casual" value = "Casual">
                    <input type = "button" class = "email_options_btn" id = "style_informational" value = "Informational">
                    <input type = "button" class = "email_options_btn" id = "style_funny" value = "Funny">
                </div>
                <div class = "email_length">
                    <label class = "email_label">Email Length</label>
                    <input type = "button" class = "email_options_btn" id = "length_short" value = "Short">
                    <input type = "button" class = "email_options_btn" id = "length_medium" value = "Medium">
                    <input type = "button" class = "email_options_btn" id = "length_long" value = "Long">
                </div>
                <div class = "email_result_box" id = "email_result_box">
                    <textarea class = "email_result" id = "email_result" placeholder = "The Generated Email Will Appear Here" readonly></textarea>
                </div>
            </div>

            <div class = "translate_box" id = "translate_box">
                <select class = "language_select_1" id = "language_select_1">
                    <option>English</option>
                    <option>Mandarin Chinese</option>
                    <option>Hindi</option>
                    <option>Spanish</option>
                    <option>Arabic</option>
                    <option>French</option>
                    <option>Bengali</option>
                    <option>Russian</option>
                    <option>Portuguese</option>
                    <option>Japanese</option>
                    <option>German</option>
                    <option>Swahili</option>
                    <option>Korean</option>
                    <option>Vietnamese</option>
                    <option>Marathi</option>
                </select>
                <select class = "language_select_2" id = "language_select_2">
                    <option>English</option>
                    <option>Mandarin Chinese</option>
                    <option>Hindi</option>
                    <option>Spanish</option>
                    <option>Arabic</option>
                    <option>French</option>
                    <option>Bengali</option>
                    <option>Russian</option>
                    <option>Portuguese</option>
                    <option>Japanese</option>
                    <option>German</option>
                    <option>Swahili</option>
                    <option>Korean</option>
                    <option>Vietnamese</option>
                    <option>Marathi</option>
                </select>

                <div class = "translate_from">
                    <textarea id = "translate_from_text" placeholder = "Enter Text Here: "></textarea>
                </div>
                <div class = "translate_to">
                    <textarea id = "translate_to_text" placeholder = "Result Will Appear Here: " readonly></textarea>
                </div>
                <input type = "button" class = "translate_submit_btn" id = "translate_submit_btn" value = "Submit">
                <input type = "button" class = "translate_clear_btn" id = "translate_clear_btn" value = "Clear">
                <input type = "button" class = "translate_copy_btn" id = "translate_copy_btn" value = "Copy">
            </div>

            <div class = "settings_box" id = "settings_box">
                <div class = "settings_content" id = "settings_content">
                    <label class = "typing_mode" id = "typing_mode">Typing Mode</label>
                    <input type = "button" class = "typing_btn" id = "typing_btn" value = "Typing">
                    <input type = "button" class = "block_btn" id = "block_btn" value = "Block">

                    <label class = "theme" id = "theme">Select Theme</label>
                    <select class = "select_theme" id = "select_theme">
                        <option>Default</option>
                        <option>Light</option>
                    </select>
                </div>
            </div>
            

            <div class = "side_bar">
                <div class = "menu">
                    <label class = "title" id = "title">Chat Alchemy</label>
                    <label class = "chat_mode" for = "select_mode" id = "chat_mode">Chat Mode</label>
                    <select class = "select_mode" id = "select_mode">
                        <option>Question Answer</option>
                        <option>Doctor</option>
                        <option>Friend</option>
                        <option>Therapist</option>
                        <option>Alien</option>
                        <option>DMC</option>
                    </select>
                    <input type = "button" class = "delete_messages_btn" id = "delete_messages_btn" value = "Delete Messages">
                    <div class = "features_menu">
                        <label class = "features" id = "features">Features</label>
                        <input type = "button" class = "debug_btn" id = "debug_btn" value = "Debug Code">
                        <input type = "button" class = "email_generator_btn" id = "email_generator_btn" value = "Email Generator">
                        <input type = "button" class = "translate_btn" id = "translate_btn" value = "Translate">
                    </div>
                    <input type = "button" class = "settings_btn" id = "settings_btn" value = "Settings">
                    <input type = "button" class = "sign_out_btn" id = "sign_out_btn" value = "Sign Out">
                </div>
            </div>
        </div>
        <script src = "js/chat_alchemy.js" type = "module"></script>
    </body>
</html>
