<!DOCTYPE html>
<html>
    <title>Chat Alchemy:Login</title>
    <head>
        <meta charset = "UTF-8"
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <link rel = "stylesheet" href = "css/login.css">
    <link rel = "icon" type = "image/jpg" href = "resources/chat_alchemy_logo.jpg">
    <body>
        <!--<video src = "resources/yellow_-_27807 (Original).mp4" autoplay loop muted></video>-->
        <img src = "resources/login_mountain.jpg">
        
        <h1 id = "page_title"></h1>

        <form>
            <label for = "email">Email</label><br>
            <input type = "email" id = "email" autocomplete = "off" required><br>

            <label for = "password">Password</label><br>
            <input type = "password" id = "password" autocomplete = "off" required><br>

            <input type = "button" id = "submit_btn" value = "Sign In">
            
            <script src="js/login.js" type="module"></script>

            <!-- this is the google button sign in code -->
            <script src="https://accounts.google.com/gsi/client" async></script>
            <script>
            function handleCredentialResponse(response) {
                //console.log("Encoded JWT ID token: " + response.credential);
                const idToken = response.credential;
                
                fetch("/AuthenticateUserGoogle", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ token: idToken}),
                })
                .then(response => response.json())
                .then(data => {
                    const login = data.login_check;
                    if (login) {
                        sessionStorage.setItem("user_name", String(data.user_name));
                        sessionStorage.setItem("email", String(data.email));
                        sessionStorage.setItem("user_profile_image", data.user_profile_image);
                        sessionStorage.setItem("provider", String(data.provider));
                        sessionStorage.setItem("login_check", "true");
                        window.location.href = "/ChatAlchemy";
                    }   else    {
                        sessionStorage.setItem("login_check", "false");
                        alert(data.error_code);
                        console.log(data.error_message);
                    }
                })
            }
            window.onload = function () {
                google.accounts.id.initialize({
                    client_id: "122470997376-p7cmumqvpv46ud07hokcrk68c3dr8tej.apps.googleusercontent.com",
                    callback: handleCredentialResponse
                });
                google.accounts.id.renderButton(
                    document.getElementById("buttonDiv"),
                    { theme: "filled_black", size: "large", shape: "retangular", logo_alignment: "left"}
                );
                google.accounts.id.prompt();
            }
            </script>
            <div id="buttonDiv"></div>

            <p>Don't have an account ? <a id = "register_btn">Register</a></p>

        </form>
    </body>
</html>