<!DOCTYPE html>
<html>
    <title>Chat Alchemy:Register</title>
    <head>
        <meta charset = "UTF-8"
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    </head>
    <link rel = "stylesheet" href = "css\register.css">
    <link rel = "icon" type = "image/jpg" href = "resources/chat_alchemy_logo.jpg">
    <body>
        <img src = "resources/login_mountain.jpg">
        <form id = "register_form">
            <h3>Register</h3>
            <label for = "user_name">User Name</label><br>
            <input type = "text" id = "user_name" autocomplete = "off" required><br>

            <label for = "password">Password</label><br>
            <input type = "password" id = "password" autocomplete = "off" required><br>

            <label for = "password_confirm">Confirm Password</label><br>
            <input type = "password" id = "password_confirm" autocomplete = "off" required><br>

            <label for = "email">Email</label><br>
            <input type = "email" id = "email" autocomplete = "off" required><br>

            <input type = "button" id = "register_btn" value = "Register">
        </form>
        <script src = "js\register.js">

        </script>
    </body>
</html>