<!DOCTYPE html>
<html>
    <style> </style>
    <title>Chat Alchemy:Login</title>
    <head>
        <meta charset = "UTF-8"
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <link rel = "stylesheet" href = "css/login.css">
    <body onload = "type_writer()">
        <video src = "resources/yellow_-_27807 (Original).mp4" autoplay loop muted></video>
        <h1 id = "page_title"></h1>

        <form action = "" onsubmit = "">
            <label for = "username">Username</label><br>
            <input type = "text" id = "username" autocomplete = "off" required><br>

            <label for = "password">Password</label><br>
            <input type = "password" id = "password" autocomplete = "off" required><br>

            <input type = "submit" value = "Submit">
            
            <input type = "button" value = "Register" onclick="open_registration_page()">
        </form>
        <script src="js/login.js">
        </script>
    </body>
</html>