
body {
    background-color: grey;
    font-family: "Cascadia Code";
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.background {
    display: grid;
    grid-template-columns: 15% 84%;
    column-gap: 1%;
}

.chat_box {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;

    display: grid;
    grid-template-rows: 90% auto;
    border:3px solid black;
    border-radius: 15px;
    height: 900px;
    float:right;
    background-color: darkblue;
    opacity: 0.8;
}

.debug_box {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;

    display: grid;
    grid-template-rows: 90% auto;

    border:3px solid black;
    border-radius: 15px;

    height: 900px;
    float:right;
    background-color: darkblue;
    opacity: 0.8;
}

.debug_code {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: span 2;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;
}

#debug_code_text {
    font-size: x-large;

    color: white;
    background-color: black;

    border: 3px solid cyan;
    border-radius: 15px;
    outline: none;

    width: 100%;
    height: 100%;

    padding: 5px;

    resize: none;
}

.debug_solution {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 20px;
}

#debug_solution_text {
    font-size: x-large;

    color: white;
    background-color: black;

    border: 3px solid cyan;
    border-radius: 15px;
    outline: none;

    width: 100%;
    height: 100%;

    padding: 5px;

    resize: none;
}

#submit_btn {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;

    color: white;
    background-color: black;
    
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
    margin-left: 30px;
}

#submit_btn:hover {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;

    color: white;
    background-color: black;
    
    border: 2px solid cyan;
    border-radius: 10px;
    margin: 20px;
    margin-left: 30px;
}

#clear_btn {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;

    color: white;
    background-color: black;
    
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}

#clear_btn:hover {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;

    color: white;
    background-color: black;
    
    border: 2px solid cyan;
    border-radius: 10px;
    margin: 20px;
}


#copy_btn {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;

    color: white;
    background-color: black;
    
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}

#copy_btn:hover {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;

    color: white;
    background-color: black;
    
    border: 2px solid cyan;
    border-radius: 10px;
    margin: 20px;
}

.email_box {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;

    grid-template-rows: 10% 10% 10% 70%;

    display: grid;

    border:3px solid black;
    border-radius: 15px;

    height: 900px;
    float:right;
    background-color: darkblue;
    opacity: 0.8;
}

.email_prompt_box {
    grid-row-start: 1;
    grid-row-end:1;
    grid-column-start: 1;
    grid-column-end: 1;

    border:3px solid cyan;
    border-radius: 10px;

    height: fit-content;
    padding:10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;

}

#email_prompt {
    color: white;
    background-color: black;

    font-family: "Cascadia Code";
    font-size: larger;

    border: 3px solid black;
    border-radius: 15px;

    width: 98%;
    padding:10px;
    float:left;
    outline: none;
}

.email_label {
    font-size: larger;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.email_style {
    grid-row-start: 2;
    grid-row-end:2;
    grid-column-start: 1;
    grid-column-end: 1;

    margin-left: 10px;
    margin-right: 10px;

    margin-bottom: 2px;

    border-radius: 10px;

    background-color: rgba(158, 203, 239, 0.4)
    
}

.email_length {
    grid-row-start: 3;
    grid-row-end:3;
    grid-column-start: 1;
    grid-column-end: 1;

    margin-left: 10px;
    margin-right: 10px;

    margin-top: 2px;

    border-radius: 10px;

    background-color: rgba(158, 203, 239, 0.4)
}

.email_result_box {
    grid-row-start: 4;
    grid-row-end:4;
    grid-column-start: 1;
    grid-column-end: 1;

    background-color: darkblue;
}

#email_result {
    font-size: x-large;

    color: white;
    background-color: black;

    border: 3px solid cyan;
    border-radius: 15px;
    outline: none;

    width: 97%;
    height: 92%;

    padding: 10px;

    margin: 10px;

    resize: none;
}

.email_options_btn {
    color: white;
    background-color: black;

    padding: 15px;
    
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}

.email_options_btn:hover {
    color: white;
    background-color: black;
    
    border: 3px solid cyan;
    border-radius: 10px;
    margin: 20px;
}

.email_options_btn:active {
    color: black;
    background-color: cyan;
    
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}


.text_area {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;

    background-color: black;
    border:3px solid cyan;
    border-radius: 10px;
    margin:10px;
    overflow: auto;
}

.user_input {
    grid-row-start: 2;
    grid-row-end:2;
    grid-column-start: 1;
    grid-column-end: 1;

    border:3px solid black;
    border-radius: 10px;
    height: fit-content;
    padding:10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
}

#user_input_message {
    color: white;
    background-color: black;

    font-family: "Cascadia Code";
    font-size: larger;

    border: 3px solid black;
    border-radius: 15px;

    width:85%;
    padding:10px;
    float:left;
    outline: none;
}

#send_message {
    color:white;
    background-color: black;

    font-family: "Cascadia Code";
    font-size: larger;
    
    padding: 10px;
    float:right;
    width:10%;

    border: 3px solid black;
    border-radius: 10px;
}

#send_message:hover {
    color:white;
    background-color: black;

    font-family: "Cascadia Code";
    font-size: larger;
    
    padding: 10px;
    float:right;
    width:10%;

    border: 3px solid cyan;
    border-radius: 10px;
}

.side_bar {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;

    background-color: darkblue;
    height: 900px;
    border:3px solid black;
    border-radius: 15px;
    opacity: 0.8;
}

.menu {
    display: grid;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
}

#home_btn {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;

    color:white;
    background-color: black;

    border: 2px solid black;
    border-radius: 5px;

    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin:0 auto;
    margin-top:20px;
    margin-bottom: 20px;
    width:fit-content;
}

#home_btn:hover {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;

    color:white;
    background-color: black;

    border: 2px solid cyan;
    border-radius: 5px;

    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin:0 auto;
    margin-top:20px;
    margin-bottom: 20px;
    width:fit-content;
}

#chat_mode {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;

    color:white;

    text-align: center;
}

#select_mode {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    color: white;
    background-color: black;

    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;

    border: none;
}

.features_menu {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;

    display: grid;

    background-color: #242424;

    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    
}

#features {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;

    color:white;

    margin-top:10px;
}

.debug_btn {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;

    color:white;
    background-color: black;

    border: 2px solid black;
    border-radius: 5px;

    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin:0 auto;
    margin-top:20px;
    margin-bottom: 20px;
    width:fit-content;
}

.debug_btn:hover {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;

    color:white;
    background-color: black;

    border: 2px solid cyan;
    border-radius: 5px;

    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin:0 auto;
    margin-top:20px;
    margin-bottom: 20px;
    width:fit-content;
}

.email_generator_btn {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    color:white;
    background-color: black;

    border: 2px solid black;
    border-radius: 5px;

    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin:0 auto;
    margin-top:20px;
    margin-bottom: 20px;
    width:fit-content;
}

.email_generator_btn:hover {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    color:white;
    background-color: black;

    border: 2px solid cyan;
    border-radius: 5px;

    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin:0 auto;
    margin-top:20px;
    margin-bottom: 20px;
    width:fit-content;
}

.sign_out_btn {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;

    color:white;
    background-color: black;

    border: 2px solid black;
    border-radius: 5px;

    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin:0 auto;
    margin-top:20px;
    margin-bottom: 20px;
    width:fit-content;
}

.sign_out_btn:hover {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;

    color:white;
    background-color: black;

    border: 2px solid cyan;
    border-radius: 5px;

    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin:0 auto;
    margin-top:20px;
    margin-bottom: 20px;
    width:fit-content;
}


.message_human {
    color:black;
    background-color: lightblue;

    text-align: left;
    font-size: large;

    border: 2px solid black;
    border-radius: 20px 15px 0px 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px blue;

    margin-right: 15px;
    margin-bottom: 10px;
    margin-left:auto;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
}

.message_ai {
    color:black;
    background-color: lightgreen;

    text-align: left;
    font-size: large;

    border: 2px solid black;
    border-radius: 15px 20px 20px 0px;
    padding: 10px;
    box-shadow: -2px 2px 2px 1px lime;

    margin-left: 15px;
    margin-bottom: 10px;
    margin-right:auto;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
}

.subtext_human {
    color: white;
    text-align: right;
    margin-right: 20px;
    margin-left:auto;
    margin-bottom: -15px;
}

.subtext_ai {
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-right:auto;
    margin-bottom: 3px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: darkslategray; 
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: black; 
}

::-webkit-scrollbar-thumb:hover {
    background: black; 
}